

@media screen and (min-width: 801px) {


    .info-text{
    margin-top: 0;
    max-width: 50vw;
}



  .gallery {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
  }

  .product-card {
    display: flex;
    
    width: 33.33%;
    font-size: 70%;
  }

  .product-card img{
    max-width: 100%;
  }

.hero-img{
    display: flex;
    min-width: 50vw;
    margin-top: 2rem;
   
}

.text{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 200%;
}



.hero-img{
    margin-left: 2rem;
    
}

 figure{
    margin-left: 50%;
    padding-left: 1.5rem;
} 

}
